*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

ul, ol, li{
    list-style: none;
}

header{
    height: 120px;
    width: 100vw;
}

.div-header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    align-items: center;
    gap: 48px;
    padding: 0px 40px;
    background-color: #131921;
}

.div-header menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

.div-header li, span{
    padding: 8px 16px;
    color: white;
}

.sub-header ul{
    height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0px 30px;
    background-color: #232f3d;
    color: white;
}

.quadros-home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: gray;
    gap: 1.5rem;
}

.cards{
    display: grid;
    width: 450px;
    height: 450px;
    gap: 10px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
}

img{
    margin-top: 20px;
    width: auto;
    height: 50%;
}